---
import Layout from "../layouts/Layout.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout
  title="My Creations - Pcoi94"
  description="This page is in construction"
>
  <Layout class="flex-grow flex items-center">
    <div class="w-full">
      <h1 class="mb-4">
        <span class="text-3xl sm:text-5xl font-medium block">My Creations</span>
      </h1>

      <p class="max-w-xs text-xl text-neutral-400">
        The page you were looking for is in construction.
      </p>
    </div>
  </Layout>
</RootLayout>
