---
interface Props {
    color: "red" | "orange" | "yellow" | "green" | "light_blue" | "dark_blue" | "purple" | "pink";
}

const { color } = Astro.props;
---

<astro-tag class={color}>
    <span><slot /></span>
</astro-tag>

<style>

    astro-tag {
        opacity: 100%;
        display: inline-block;
        padding: 0px 10px;
        border-radius: 4px; 

        width: fit-content;
        height: fit-content;
        vertical-align: middle;
    }

    astro-tag.red { background: linear-gradient(to bottom, #E77D7D 0%, #D45252 50%, #C13F3F 100%) }
    astro-tag.orange { background: linear-gradient(to bottom, #E7B07D 0%, #D47152 50%, #C1563F 100%) }
    astro-tag.yellow { background: linear-gradient(to bottom, #E7E37D 0%, #D4C752 50%, #C1B43F 100%) }
    astro-tag.green { background: linear-gradient(to bottom, #8EEDAB 0%, #6CC7A6 50%, #68B4CC 100%) }
    astro-tag.light_blue { background: linear-gradient(to bottom, #8CC7F2 0%, #5EA8EC 50%, #3375C8 100%) }
    astro-tag.dark_blue { background: linear-gradient(to bottom, #A09EFD 0%, #7267ED 50%, #6550E5 100%) }
    astro-tag.purple { background: linear-gradient(to bottom, #A576EE 0%, #8449CA 50%, #8441A7 100%) }
    astro-tag.pink { background: linear-gradient(to bottom, #E77DB5 0%, #D45290 50%, #C13F7D 100%) }

    astro-tag span {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
    }
</style>